<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-2 sidebar">
      </div>
      <div class="col-8 main-content">
        <div class="header">
          <h1>Order Section</h1>
        </div>
        <div class="single-listing-show-page-container">
          <div class="row">
            <div class='listing-details'>
              <% if @listing.photos.attached? %>
                <% @listing.photos.each do |photo| %>
                  <%= image_tag photo, style: 'width: 200px;'%>
                <% end %>
              <% end %>
              <p>Title: <%= @listing.title %></p>
              <p>Description: <%= @listing.description %></p>
              <p>Price Per Item: <%= @listing.price_per_item %></p>
            </div>

            <div class='order-form'>
              <h2>Order section</h2>
              <%= form_with(model: [@listing, @order]) do |f| %>
                <%= f.label :no_of_item %>
                <%= f.number_field :quantity %>
                <%= f.submit 'Confirm' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 sidebar">
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4 footer">
    <div class="container">
    <div class="row">
    <div class="col-md-6 mb-4">
      <form class="form-inline">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
      </div>
      <div class="col-md-6 mb-4">
        <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
            </div>
          </form>

        </div>
    </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
  </footer>
</div>
