<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-2 sidebar">
      </div>
      <div class="col-8 main-content">
        <div class="header">
          <h1> Host Dashboard</h1>
        </div>
        <div class="list-container">
          <div class="row">
            <div class='new-listing-form'>
              <%= form_with(model: [:platform, @listing]) do |f| %>
                <%= f.label :photos %>
                <%= f.file_field :photos, multiple: true %>
                <%= f.label :title %>
                <%= f.text_field :title %>
                <%= f.label :description %>
                <%= f.text_field :description %>
                <%= f.label :price_per_item %>
                <%= f.text_field :price_per_item %>
                <%= f.label :available %>
                <%= f.check_box :available %>
                <%= f.submit 'create' %>
              <% end %>
            </div>
            <% @listings.each do |listing| %>
              <div class="col-6">
                <% if listing.photos.attached? %>
                  <% listing.photos.each do |photo| %>
                    <%= image_tag photo, style: 'width: 200px;'%>
                    <%= link_to 'Remove', delete_photo_attachment_platform_listing_path(photo), method: :delete, data: { confirm: 'Are you sure?' }%>
                  <% end %>
                <% end %>
                <p>Title: <%= listing.title %></p>
                <p>Description: <%= listing.description %></p>
                <p>Price per Item: <%= listing.price_per_item %></p>
                <%= link_to edit_platform_listing_path(listing) do %>
                  <button>Edit</button>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
      <div class="col-2 sidebar">
      </div>
      <!-- Footer -->
      <footer class="page-footer font-small special-color-dark pt-4 footer">
        <div class="container">
        <div class="row">
        <div class="col-md-6 mb-4">
          <form class="form-inline">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                  aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
              </form>
          </div>
          <div class="col-md-6 mb-4">
            <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Your email"
                  aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
                </div>
              </form>

            </div>
        </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
      </footer>
  </div>
