<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-2 sidebar">
      </div>
      <div class="col-8 main-content">
        <div class="header">
        <h1>Profile Setting</h1>
        </div>
        <div class="list-container">
          <div class="row">
            <div class='user-setting-form'>
              <%= form_with(model: @user) do |f| %>
                <%= render 'shared/form_error', object: @user %>
                <%= f.label :avatar %>
                <%= f.file_field :avatar %>
                <%= f.submit 'save' %>
                <%= link_to 'Delete your account', users_path, data: { confirm: "Are you sure?" },:method => :delete %>
              <% end %>
            </div>
        </div>
      </div>
      <div class="col-2 sidebar">
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4 footer">
    <div class="container">
    <div class="row">
    <div class="col-md-6 mb-4">
      <form class="form-inline">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
      </div>
      <div class="col-md-6 mb-4">
        <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
            </div>
          </form>

        </div>
    </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
  </footer>
</div>
