<section class='user-profile'>
  <div class='user-avatar'>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, style: 'width: 200px;' %>
    <% end %>
  </div>
  <div class='user-details'>
    <h1><%= @user.email %></h1>
  </div>

  <div class='user-orders'>
  <h1>Your orders</h1>
  <% @orders.each do |order| %>
    <br>
    <%= link_to "#{order.ref_no}", listing_order_path(order.listing, order) %>
    <p>status: <%= order.status %></p>
    <p>Total: <%= order.total %></p>
  <% end %>
  </div>
</section>
