<div class='col-2'>
  <h5 class="link-container">
      <%= link_to "Home", root_path, class: "link #{@page == 'home' ? 'active' : ''}" %>
  </h5>
  <h5 class="link-container">
      <%= link_to "Menu", menu_path, class: "link #{@page == 'menu' ? 'active' : ''}" %>
  </h5>
  <h5 class="link-container">
      <%= link_to "Order", order_path, class: "link #{@page == 'order' ? 'active' : ''}" %>
  </h5>
  <h5 class="link-container">
      <%= link_to "Contact", contact_path, class: "link #{@page == 'contact' ? 'active' : ''}" %>
  </h5>

  <% if host_signed_in? %>
    <h5 class="link-container">
      <%= link_to 'Dashboard', platform_dashboard_path(current_host) %>
    </h5>
    <h5 class="link-container">
      <%= link_to 'Profile', platform_home_path %>
    </h5>
    <h5 class="link-container">
      <%= link_to 'Setting', edit_platform_host_path(current_host) %>
    </h5>
    <h5 class="link-container">
      <%= link_to 'Logout', destroy_host_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    </h5>
  <% else %>
    <h5 class="link-container">
      <%= link_to 'Sign Up', new_host_registration_path %>
    </h5>
    <h5 class="link-container">
      <%= link_to 'Login', new_host_session_path %>
    </h5>
  <% end %>
</div>
