<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-2 sidebar">
      </div>
      <div class="col-8 main-content">
        <div class="header">
          <h1>Here is the list from our menu</h1>
          <h2>Need a delivery? Click here <button><%= link_to 'Delivery', "https://www.foodpanda.my/restaurant/bnxj/the-hive-tuaran", target: "_blank"%></button></h2>
        </div>
        <div class="list-container">
          <div class="row">
            <% @listings.each do |listing| %>
              <div class="col-6">
                <% if listing.photos.attached? %>
                  <% listing.photos.each do |photo| %>
                    <%= image_tag photo, style: 'width: 200px;'%>
                  <% end %>
                  <% end %>
                  <p>Title: <%= listing.title %></p>
                  <p>Description: <%= listing.description %></p>
                  <p>Price Per Item: <%= listing.price_per_item %></p>
                  <%= link_to listing_path(listing) do %>
                    <button>Order</button>
                  <% end %>
              </div>
            <% end %>
        </div>
      </div>
      <div class="col-2 sidebar">
      </div>
    </div>
  </div>
  <div class="footer bg-light">
    footer
  </div>
</div>
