<section class='single-listing-show-page'>
  <div class='listing-details'>
    <% if @listing.photos.attached? %>
      <% @listing.photos.each do |photo| %>
        <%= image_tag photo, style: 'width: 200px;'%>
      <% end %>
    <% end %>
    <p>Title: <%= @listing.title %></p>
    <p>Description: <%= @listing.description %></p>
    <p>Price Per Day: <%= @listing.price_per_item %></p>
  </div>

  <div class='order-form'>
    <h2>Order section</h2>
    <%= form_with(model: [@listing, @order]) do |f| %>
      <%= f.label :no_of_item %>
      <%= f.number :quantity %>
      <%= f.submit 'Confirm' %>
    <% end %>
  </div>
</section>
